.homeTabElement:hover {
  background-color: #f1f3f5;
}

.homeTabsList::before {
  border: none !important;
  box-shadow: none !important;
}

.tabsPanelContainer {
  background-color: white;
  height: 60vh;
  width: 50vw;
  border-radius: 6px;
  margin-top: 24px;
}

.stocksPanelContainer {
  background-color: #f1f3f5 !important;
}

.headerTitle {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 32px;
}

.actionButton {
  border: 1px solid #4c6ef5;
  font-weight: 400;
  color: #4263eb;
  background-color: #edf2ff;
}

.actionButton:hover {
  color: #4263eb;
  background-color: #edf2ff;
}

.actionButton:active {
  transform: none;
  color: #002ee8;
  border-color: #002ee8;
}

.stringButton {
  background-color: transparent;
  color: #4263eb;
  font-weight: 400;
  margin-top: 16px;
  font-size: 14px;
}

.stringButton:hover {
  color: #4263eb;
  background-color: white;
}

.stringButton:active {
  transform: none;
  color: #002ee8;
}

@media (max-width: 1100px) {
  .tabsPanelContainer {
    width: 62vw;
  }
}

@media (max-width: 768px) {
  .tabsPanelContainer {
    width: 80vw;
  }

  .stringButton {
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  .headerTitle {
    font-size: 30px;
  }
}

@media (max-width: 550px) and (max-height: 840px) {
  .tabsPanelContainer {
    height: 68vh;
  }
}
