.mainContainer {
  margin: 5% 5%;
}

.tabsList {
  width: 200px;
}

.panelsBox {
  position: absolute;
  top: 8vh;
  left: 25vw;
}

.tabElement {
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  height: 40px;
  text-align: left;
}

.tabsPanel {
  width: 100%;
}

.tabElement :global(.mantine-Tabs-tabSection) {
  margin-right: 8px !important;
}

.tabElement :global(.mantine-Tabs-tabLabel) {
  text-align: left !important;
  justify-content: flex-start !important;
}

@media (max-width: 1200px) {
  .mainContainer {
    margin: 2% 0;
    padding: 10px 20px;
  }
  .panelsBox {
    left: 30vw;
  }
}

@media (max-width: 768px) {
  .panelsBox {
    top: 70px;
    left: 10vw;
  }
}
