.mainContainer {
  background-color: white;
  height: 60vh;
  border-radius: 6px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.currencyDescription {
  font-weight: 400;
  font-size: 12px;
  color: #868e96;
  margin-top: 12px;
  margin-left: 24px;
}

.changeAccButton {
  background-color: transparent;
  color: #4263eb;
  font-weight: 400;
  margin-top: 16px;
  font-size: 14px;
}

.changeAccButton:hover {
  color: #4263eb;
  background-color: white;
}

.changeAccButton:active {
  transform: none;
  color: #002ee8;
}

.actionButtonsGroup {
  gap: 8px;
  margin: 16px 24px 0 24px;
}

.actionButton {
  border: 1px solid #4c6ef5;
  font-weight: 400;
  color: #4263eb;
  background-color: #edf2ff;
}

.actionButton:hover {
  color: #4263eb;
  background-color: #edf2ff;
}

.actionButton:active {
  transform: none;
  color: #002ee8;
  border-color: #002ee8;
}
